.App {
  text-align: center;
}
.login-form {
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: 10px auto;
  height: 100%;
  border: 1px solid silver;
  border-radius: 5px;
  color: #333;
}
.login-form .hidden {
  display: none;
}
.login-form input:required {
  border-bottom: 2px solid rgb(13, 194, 13);
}
.login-form input:invalid {
  border-bottom: 2px solid rgb(223, 15, 0);
}
